div {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/*------------------------------------
Box 1
--------------------------------------*/

#box1 {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s;
}

#box1:hover {
    width: 500px;
}

#box1:active {
    background-color: aquamarine;
}

/*------------------------------------
Box 2
--------------------------------------*/

#box2 {
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 50px;
    transition: width 5s;
}

#box2:hover {
    width: 800px;
}

#box2:active {
    background-color: darkorange;
}

/*------------------------------------
Box 3
--------------------------------------*/

#box3 {
    width: 100px;
    height: 100px;
    background-color: lawngreen;
    position: relative;
    animation: move1 5s ease-in-out 2s infinite alternate;
    animation-play-state: paused;
}

#box3:hover {
    animation-play-state: running;
}

@keyframes move1 {

    100% {
        transform: translateX(50vw);
    }
}


/*------------------------------------
Box 4
--------------------------------------*/

#box4 {
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    position: relative;
    animation: move2 ease-in-out 5s infinite alternate;
}

@keyframes move2 {
    0% {
        transform: none;
    }

    100% {
        transform: matrix(1, 0, -1, 1, 500, 0);

    }
}
